{% extends "streams::blank" %}

{% block  content %}
    <div class="container-fluid">

        {% include "anomaly.module.system::admin/partials/details" with {'attributes': {
        'Time': 'entry.createdAt',
        'Hostname': 'entry.content.hostname',
        'Action': {
            'value': 'entry.content.type',
            'wrapper': '<span class="tag tag-default">{value}</span>',
        },
        'Key': 'entry.content.key',
        }} %}

        {% include "anomaly.module.system::admin/partials/user" %}

        {% include "anomaly.module.system::admin/partials/content" with {'attributes': {
        'Value': 'entry.content.value|join',
        }} %}

    </div>
{% endblock %}
