{% extends "streams::blank" %}

{% block  content %}
    <div class="container-fluid">

        {% include "anomaly.module.system::admin/partials/details" with {'attributes': {
        'Time': 'createdAt',
        'Hostname': 'content.hostname',
        'Command': 'content.command',
        'Exit Code': 'content.exit_code',
        }} %}

        {% include "anomaly.module.system::admin/partials/user" %}

        {% include "anomaly.module.system::admin/partials/content" with {'attributes': {
        'Value': 'content.value',
        }} %}

        {% include "anomaly.module.system::admin/partials/content" with {'attributes': {
        'Cache': 'content.cache',
        }} %}

    </div>
{% endblock %}
