{% extends "streams::blank" %}

{% block  content %}
    <div class="container-fluid">

        {% include "anomaly.module.system::admin/partials/table" with {'attributes': {
            'Time': 'entry.createdAt',
            'Hostname': 'entry.content.hostname',

            'Location': '{{ entry.content.entry_point_type|capitalize }}: {{ entry.content.entry_point_description }}',
            'Tags': 'entry.tags',
        }} %}

        {% include "anomaly.module.system::admin/partials/user" %}

        {% include "anomaly.module.system::admin/partials/section" with {
        'title': 'Contents',
        'attribute': 'entry.content.dump',
        } %}

        {% include "anomaly.module.system::admin/partials/batch" %}

    </div>
{% endblock %}
