{% extends "streams::blank" %}

{% block  content %}
    <div class="container-fluid">

        {% include "anomaly.module.system::admin/partials/details" with {'attributes': {
        'createdAt': 'Time',
        'content.hostname': 'Hostname',
        'content.class': 'Type',
        'content.file': 'Location',
        'content.occurrences': 'Occurrances',
        'tags': 'Tags',
        }} %}

        {% include "anomaly.module.system::admin/partials/user" %}

        {% include "anomaly.module.system::admin/partials/content" with {'attributes': {
        'content.message': 'Message',
        'content.line_preview': 'Location',
        'content.trace': 'Stacktrace',
        }} %}


    </div>
{% endblock %}
