{% extends "streams::blank" %}

{% block  content %}
    <div class="container-fluid">

        {% include "anomaly.module.system::admin/partials/details" with {'attributes': {
        'Time': 'createdAt',
        'Hostname': 'content.hostname',
        'Type': 'content.class',
        'Location': 'content.file',
        'Occurrances': 'content.occurrences',
        'Tags': 'tags',
        }} %}

        {% include "anomaly.module.system::admin/partials/user" %}

        {% include "anomaly.module.system::admin/partials/content" with {'attributes': {
        'Message': 'content.message',
        'Location': 'content.line_preview',
        'Stacktrace': 'content.trace',
        }} %}


    </div>
{% endblock %}
