{% extends "streams::blank" %}

{% block  content %}
    <div class="container-fluid">

        {% include "anomaly.module.system::admin/partials/details" with {'attributes': {
        'Time': 'entry.createdAt',
        'Hostname': 'entry.content.hostname',
        'Method': 'entry.content.method',
        'Controller Action': 'entry.content.controller_action',
        'Middleware': 'content.middle',
        'Path': 'entry.content.uri',
        'Status': 'entry.content.response_status',
        'Duration': '{entry.content.duration} ms',
        }} %}

        {% include "anomaly.module.system::admin/partials/user" %}

        {% include "anomaly.module.system::admin/partials/content" with {'attributes': {
        'Payload': 'content.payload',
        'Headers': 'content.headers',
        'Session': 'content.session',
        'Response': 'content.response',
        }} %}

        {% include "anomaly.module.system::admin/partials/content" with {'attributes': {
        'Queries': 'content.queries',
        'Events': 'content.events',
        'Cache': 'content.cache',
        }} %}


    </div>
{% endblock %}
