.card .nav.nav-sections {
    margin-bottom: 0;
}

pre[class*="language-"] {
    margin: 0;
}

.card-block pre {
    margin: -20px;
    padding: 20px;
}

.card-block pre,
.card-block code {
    white-space: pre-wrap;
}
