<div class="card">

    <div class="card-header">
        <h5 class="card-title">
            {{ ucfirst(type) }} Details
        </h5>
    </div>

    <div class="table-responsive">
        <table class="table table-borderless">
            {% for attribute, label in attributes %}
                <tr>
                    <th>{{ label }}</th>
                    <td>{{ array_get(entry, attribute) }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

</div>
