<div class="card">

    <div class="card-header">
        <h5 class="card-title">
            {{ ucfirst(type) }} Details
        </h5>
    </div>

    <div class="table-responsive">
        <table class="table table-borderless">
            {% for label, attribute in attributes %}

                {% set value = value(attribute, entry) %}

                <tr>
                    <th>{{ label }}</th>
                    <td>
                        {% if value is iterable %}
                            <pre><code>{{ var_dump(value) }}</code></pre>
                        {% else %}
                            {{ value|raw }}
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>

</div>
